/* 1 Reset --------------------- */

/* 2 Font ---------------------- */
body{
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    color: #333;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #f2f2f2;
}

/* 3 Link ---------------------- */
a:link, a:visited{
    color:#999;
    text-decoration: none;
}
a:hover, a:active{
    color: #ccc;
    text-decoration: none;
}

/* header ---------------------------- */


/* works --------------------------------- */


/* news ------------------------*/



/* footer ----------------------------- */
footer{
    width: 100%;
    padding: 80px 0;
    background-color: #f4f4f4;
    text-align: center;
}
footer h1 img{
    width: 80px;
    height: auto;
}
footer nav{
    padding: 64px 0;
    letter-spacing: 0.1rem;
}
.footer-nav-global{
    width: 320px;
    margin: 0 auto 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.footer-nav-sns{
    width: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer address{
    color:#666;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 64px;
}

footer p small{
    font-size: 11px;
    color: #666;
    letter-spacing: 0.1rem;
}
